@font-face {
    font-family: 'Oswald';
    src: url(./static/Oswald-Regular.ttf)
}
@font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat/Montserrat-BoldItalic.ttf)
}
@font-face {
    font-family: 'Marker';
    src: url(./Marker/PermanentMarker-Regular.ttf)
}