.navbar {
    background: $mainBlack;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: .8rem 1.6rem;
    .nav-items {
        align-self: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        list-style-type: none;
        .nav-link {
            text-transform: capitalize;
            color: $mainGrey;
            font-size: 1.8rem;
            text-decoration: none;
            transition: all .3s linear;
            &:hover {
                color: $mainGreen;
            }
        }
        .active {
            color: $mainGreen;
        }
    }
}
